.counter-display {
    text-align: center;
    margin: 140px 10px;
    

}

.counter-display div {
    display: inline-block;
    font-size: 120px;
    background-color: rgb(17, 15, 15);
    color: white;
    width: 80px;
    
    
}

.bi-clock {
    width: 70px;
    height: 70px;
}